<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.StudentMapper">
  	<select id="findList" parameterType="studentVo" resultType="studentVo">
  		select s.*,c.name as sname from course c, jiyun_student s 
  		<where>
	  		s.course_id=c.id
	  		<if test="name!=null and name!=''">
	  		and s.name like '%${name}%'
	  		
	  		</if>
	  		
	  		<if test="grade!=null and grade!=''">
	  		and s.grade like '%${grade}%'
	  		
	  		</if>
	  		
	  		<if test="entrytime1!=null">
	  		and s.entrytime &gt;=#{entrytime1}
	  		</if>
	  		
	  		<if test="entrytime2!=null">
	  		and s.entrytime &lt;=#{entrytime2}
	  		</if>
  		</where>
  	
  	</select>
  	
  	<select id="selectByName" parameterType="String" resultType="Student">
  		select * from jiyun_student where  name=#{name}
  	
  	</select>
  	
  	<select id="countStudent" resultType="studentVo">
  		SELECT  c.name AS sname, COUNT(s.id) AS num
FROM jiyun_student s, course c 
WHERE s.course_id=c.id  GROUP BY c.id
  	
  	</select>
  	
  	
</mapper>